	
	body { 
		background-color: ; 
		font-family: 'Comfortaa', cursive;
	}
	
	.head1 {
		padding-bottom: 5px;
	}

	.head1 a { 
		text-align: left; 
		color: #4f4f4a; 
		font: 40px 'Quicksand', sans-serif;
		font-style: 'bold 700';
		font-weight:bold;
	}
 
	.paragraph { 
		text-align: center; 
		font: bold 25px 'Comfortaa', cursive;
	}

	ol li {  
		font: bold 25px 'Comfortaa', cursive;
	}

	ul li { 
		font: normal 20px 'Comfortaa', cursive;
		list-style: square; 
	}
 
	a { 
		text-decoration: none; 
	}
	
	.first {
		display: flex;
		flex-wrap: wrap;
  }
	
	#videobox {
		display: flex;
		justify-content: left;
	}
	
	.box_right {
		margin-left: 5px;
		width: 800px;
		background-color: #0F9D58;
		text-align: center; 
		font: 25px 'Comfortaa', cursive;
		text-align: justify;
		text-justify: inter-word;
		color: white;
		padding: 10px;
	}

	
	#inner_box {
		padding: 10px;
	}
		
	#inner_box:hover {
		background-color: #ddd;
		color: black;
	}
	
	.down_boxes {
		display: flex;
		flex-wrap: wrap;
	}
	
	.down_boxes p {
		float: center;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font: 17px 'Comfortaa', cursive;
	}
	
	.down_boxes p:hover {
		background-color: #ddd;
		color: black;
	}
	
	/* Add a black background color to the top navigation */
	.topnav {
		background-color: #F4B400;
		overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font: 17px 'Comfortaa', cursive;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
		background-color: #ddd;
		color: black;
	}

	/* Add a color to the active/current link */
	.topnav a.active {
		background-color: #4285F4;
		color: white;
	}
	
	#form {
		float: left;
		width: 100%;
	}


	
