			
			body { 
				bakcground-color: white;
				font-family: 'Comfortaa', cursive;
			}
			
			.head1 {
				padding-bottom: 5px;
			}

			.head1 a { 
				text-align: left; 
				color: black; 
				font: 40px 'Quicksand', sans-serif;
				font-style: 'bold 700';
				font-weight:bold;
			}
		 
			.topnav {
				background-color: #F4B400;
				overflow: hidden;
				border-radius: 25px;
			}

			.topnav a {
				float: left;
				color: #f2f2f2;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
				font: 17px 'Comfortaa', cursive;
			}

			.topnav a:hover {
				background-color: #ddd;
				color: black;
			}

			.topnav a.active {
				background-color: #0F9D58;
				color: white;
			}
		 
			.paragraph { 
				text-align: center; 
				font: bold 25px 'Comfortaa', cursive;
			}
			
			a { 
				text-decoration: none; 
				color: white;
			}
			
/* ALL PAGES ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
			
			#container {
				display: flex;
				flex-direction: row;
			}
			
			.videobox {
				background-color: #2B7A78;
				margin: 10px;
				margin-right: 0px;
				margin-left: 0px;
				padding: 10px;
				width: 560px;
				border-radius: 10px;
			}
			
			.textbox {
				background-color: #2B7A78;
				margin: 10px;
				padding: 20px;
				width: 100%;
				font: bold 25px 'Comfortaa', cursive;
				color: white;
				display: flex;
        justify-content: space-around;
				border-radius: 10px;
			}
			
			#left {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
			}
			
			.upcoming {
				font-size: 20px;
			}
			
			.textbox a {
				padding: 10px;
				background-color: #F4B400;
				color: white;
				border-radius: 25px;
			}
			
			.textbox a:hover {
				color: black;
				text-decoration: underline;
			}
			
			#right {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
			}
			
/* index.html page ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */	

			ol li {  
				font: bold 25px 'Comfortaa', cursive;
			}

			ul li { 
				font: normal 20px 'Comfortaa', cursive;
				list-style: square; 
			}
			
			#form {
				background-color: ;
				margin-top: 10px;
			}

			
